[submodule "modules/stm32-cmake"]
	path = modules/stm32-cmake
	url = https://github.com/ObKo/stm32-cmake
[submodule "modules/etl"]
	path = modules/etl
	url = https://github.com/ETLCPP/etl
[submodule "modules/RTT"]
	path = modules/RTT
	url = https://github.com/SEGGERMicro/RTT
[submodule "modules/Qfplib-M0-tiny"]
	path = modules/Qfplib-M0-tiny
	url = https://github.com/mysterywolf/Qfplib-M0-tiny
[submodule "modules/modm"]
	path = modules/modm
	url = https://github.com/modm-io/modm
